<nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" src="https://img.icons8.com/plasticine/100/000000/camera.png" />
    </a>
    <div>
        <form class="form-inline justify-content-center" style="text-align: center;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto ">
                <% if (session.logged_in) { %>
                <li class="nav-item active mr-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= session.user.first_name + ' ' + session.user.last_name %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Your Images</a>
                            <a class="dropdown-item" href="#" data-toggle=modal data-target="#image_upload">Post a
                                Photo</a>
                        </div>
                    </div>


                </li>
                <li class="nav-item active mr-1">
                    <a class="btn btn-primary" role="button" href="/logout"> Logout
                    </a>
                </li>


                <% } else { %>

                <li class="nav-item active mr-1">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                        data-target="#createAccount">Create
                        Account</button>
                </li>
                <li class="nav-item active">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                        data-target="#login">Login</button>
                </li>
                <% } %>


            </ul>
        </div>
    </div>

</nav>

<!-- Create Account Modal -->
<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Registration Form -->
                <form action="create_user" method="POST">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="first_name" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" name="last_name" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"></label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- End Registration Form -->
            </div>

        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Login Form -->
                <form action="login" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"></label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- End Login Form -->
            </div>

        </div>
    </div>
</div>

<!--- image upload modal-->
<div class="modal fade" id="image_upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="image_upload">Select a photo to upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Image Form -->
                <form action="upload_image" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <!-- Upload image input-->
                        <div class="custom-file">
                            <input type="file" name = "image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Photo Title (required)">
                    </div>
                    <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Photo caption (optional)">
                </div>



                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- End Image Form -->
            </div>

        </div>
    </div>
</div>